<div class="container">
<h1>Orders</h1>
<table>
    <tr>
        <td>Orders</td>
        <td>Status</td>
        <td>Price</td>
    </tr>
    <tr>
        <td>{{orderId}}</td>
        <td>{{status}}</td>
        <td>{{amount}}</td>
    </tr>
</table>
</div>